[Desktop Entry]
Name=Slide dialog
Name[bg]=Диалогов прозорец на кадъра
Name[bs]=Dijalog slajdova
Name[ca]=Diàleg lliscant
Name[ca@valencia]=Diàleg lliscant
Name[de]=Schiebedialog
Name[es]=Diálogo deslizante
Name[fr]=Boîte de dialogue pour le curseur
Name[gl]=Diálogo deslizante
Name[hu]=Dia párbeszédablak
Name[ko]=밀기 대화 상자
Name[nl]=Dia-dialoog
Name[pl]=Okno dialogowe slajdu
Name[pt]=Janela deslizante
Name[pt_BR]=Janela deslizante
Name[sk]=Posuvný dialóg
Name[sv]=Glidande dialogruta
Name[tr]=Kaydırma penceresi
Name[uk]=Ковзне діалогове вікно
Name[x-test]=xxSlide dialogxx
Comment=Screen locker that provides sliding button to unlock, optimized for touch screens
Comment[bg]=Отключване на екрана чрез плъзгане на бутон, подходящо за чувствителни на допир екрани
Comment[bs]=Screen locker koji pruža klizno dugme za otključavanje, optimiziran za touch screen.(ekran, koji reaguje na dodir)
Comment[ca]=Bloquejador de pantalla que proporciona el botó de control lliscant per desbloquejar, optimitzat per a les pantalles tàctils
Comment[ca@valencia]=Bloquejador de pantalla que proporciona el botó de control lliscant per desbloquejar, optimitzat per a les pantalles tàctils
Comment[de]=Bildschirmsperre, mit einem Schiebeknopf zum Entsperren. Optimiert für Touch-Screens
Comment[es]=Bloqueador de pantalla que proporciona un botón deslizante para desbloquear, optimizado para pantallas táctiles
Comment[fr]=L'outil de verrouillage d'écran fournissant un bouton de curseur pour le déverrouillage et optimisé pour les écrans tactiles
Comment[gl]=Un bloqueador de sesión  que fornece un botón deslizante para  desatrancar, optimizado para pantallas táctiles
Comment[hu]=Képernyőzároló, amely elhúzható gombokat szolgáltat a feloldáshoz az érintőképernyőkhöz optimalizálva
Comment[ko]=터치 스크린에 최적화된 밀어서 잠금을 풀 수 있는 화면 잠금 도구
Comment[nl]=Schermvergrendelaar die een schuifknop levert voor het ontgrendelen, geoptimaliseerd voor aanraakschermen
Comment[pl]=Blokada ekranu zawiera przycisk, który należy przesunąć w celu odblokowania; zoptymalizowana dla ekranów dotykowych
Comment[pt]=Um bloqueio do ecrã que oferece um botão deslizante para desbloquear, o que está optimizado para ecrãs tácteis
Comment[pt_BR]=Um bloqueador de tela que oferece um botão deslizante para desbloquear, sendo otimizado para dispositivos touch screens
Comment[sk]=Zamykač obrazovky, ktorý poskytuje posuvné tlačidlo na odomknutie, optimalizované pre dotykové obrazovky
Comment[sv]=Skärmlåsning som tillhandahåller glidande knapp för att låsa upp, optimerad för pekskärmar
Comment[tr]=Dokunmatik ekranlar için iyileştirilmiş, kilit açmak için kaydırma düğmesi sğalayan ekran kilitleyici
Comment[uk]=Засіб блокування екрана, у якому передбачено ковзну кнопку для розблокування. Оптимізовано для сенсорних екранів.
Comment[x-test]=xxScreen locker that provides sliding button to unlock, optimized for touch screensxx
Icon=system-lock-screen

X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.slide
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Type=Service
