[Desktop Entry]
Name=Slide dialog
Name[hu]=Dia párbeszédablak
Name[nl]=Dia-dialoog
Name[pt]=Janela deslizante
Name[pt_BR]=Janela deslizante
Name[sk]=Posuvný dialóg
Name[sv]=Glidande dialogruta
Name[uk]=Ковзне діалогове вікно
Name[x-test]=xxSlide dialogxx
Comment=Screen locker that provides sliding button to unlock, optimized for touch screens
Comment[hu]=Képernyőzároló, amely elhúzható gombokat szolgáltat a feloldáshoz az érintőképernyőkhöz optimalizálva
Comment[nl]=Schermvergrendelaar die een schuifknop levert voor het ontgrendelen, geoptimaliseerd voor aanraakschermen
Comment[pt]=Um bloqueio do ecrã que oferece um botão deslizante para desbloquear, o que está optimizado para ecrãs tácteis
Comment[pt_BR]=Um bloqueador de tela que oferece um botão deslizante para desbloquear, sendo otimizado para dispositivos touch screens
Comment[sk]=Zamykač obrazovky, ktorý poskytuje posuvné tlačidlo na odomknutie, optimalizované pre dotykové obrazovky
Comment[sv]=Skärmlåsning som tillhandahåller glidande knapp för att låsa upp, optimerad för pekskärmar
Comment[uk]=Засіб блокування екрана, у якому передбачено ковзну кнопку для розблокування. Оптимізовано для сенсорних екранів.
Comment[x-test]=xxScreen locker that provides sliding button to unlock, optimized for touch screensxx
Icon=system-lock-screen

X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.slide
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Type=Service
